* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #343030;
  min-height: 100vh;
  font-family: 'Merriweather', serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: normal;
}

h6 {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: light;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  .container {
    padding: 0 15px;
  }
}